body {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  font-family:  'Lato';
  font-weight: 100;
  color: white;
  margin: 0;
  z-index: 10;
  position: relative;
}

h1 {
  font-size: 16em;
  margin-left: 50px;
}

h2 {
  font-size: 9.25em;
  margin-left: 50px;
  margin-bottom: 5px;
}

h3 {

  font-size: 7em;
  margin-bottom: 5px;
  margin-left: 50px;
}

h4 {
  font-size: 4em;
  line-height: .75em;
  margin-bottom: 5px;
  margin-left: 50px;
}

h5 {
  font-size: 1.75em;
  margin-left: 50px;
  margin-bottom: 5px;
}
.current {
  margin-bottom: 5px;
  font-size: 2em;
}

.top {
  margin: 50px 0 0 50px;
}

.bottom {
  margin: 320px 0 0 50px;
}

.form {
  margin-left: 31%;
  margin-top: 23%;
  width: 100%;
  z-index: 10;
  position: relative;
  font-family: 'Lato';
  margin:auto;
  position:relative;
  width:550px;
  height:450px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  padding:10px;
  border: 1px solid #fff;
}
  
#getWeather {
  margin: auto;
  width: auto;
  margin-left: 110px;
  margin-top: 120px;
  background: none;
  text-align: center;
  width: 300px;
  height: 71px;
  border-radius: 15px;
  border-bottom-color: white;
  border-top-color: white;
  color: white;
  font-size: 35px;
  font-family: 'Lato';
  font-weight: 300;
}

#getZip {
  margin-top: 40px;
  margin-left: 110px;
  width: 300px;
  height: 71px;
  border-radius: 15px;
  font-size: 35px;
  background: none;
  color: white;
  font-family: 'Lato';
  font-weight: 300;
}

.wrapper {
  background-image: url('../img/bg.jpg');
  margin: 0 auto;
  width: 2560px;
  height: 1440px;
  position: relative;
  overflow: hidden;
}

element.style {
  position: absolute;
}


.group {
  clear: both;
}